#
# Almost empty config file for the example purposes.
# This config file needs to be replaced with the proper
# one for your own adaptation.
#
# It is recommended to use make oldconfig once and then copy
# the .config file and replace this one with that. After that
# one should use mer_verify_kernel_config to verify
# that all the kernel config options required by Mer are
# set to proper values.
# 
CONFIG_UEVENT_HELPER_PATH=""
